In [4]:
from collections import Counter
import datetime as dt
import numpy as np
import os
import pandas as pd

In [2]:
def showDfInfo(sourceDf, uniKey=None):
    """
    function: 
        show dataframe and columns info.
    parameter:
        sourceDf_要顯示的Dataframe
        uniKey_具唯一值之鍵值欄位
    return:
        dataframe info.
    """
    if not uniKey is None:
        print('Data row count:', len(sourceDf), 
              'Case count:', len(sourceDf[uniKey].unique()))
    else: 
        print('Data row count:', len(sourceDf))
    #
    print('Total columns:\n', sourceDf.columns.to_list())
    display(sourceDf.head(2))

In [3]:
#Station mapping dictionary
staDict = {'西屯':'Xitun', '沙鹿':'Shalu', '忠明':'Zhongming', 
           '豐原':'Fengyuan', '二林':'Erlin', '竹山':'Zhushan', 
           '埔里':'Puli', '彰化':'Changhua', '南投':'Nantou', 
           '大里':'Dali', '線西':'Xianxi'}

## <font color='blue'>00.載入2019年中區-西屯站觀測記錄</font>
#### fileName: 西屯_2019.csv

In [3]:
dfXitun = pd.read_csv('西屯_2019.csv', dtype=str, encoding='big5')
showDfInfo(dfXitun)

Data row count: 6571
Total columns:
 ['測站                  ', '日期                  ', '測項                  ', '00                             ', '01                             ', '02                             ', '03                             ', '04                             ', '05                             ', '06                             ', '07                             ', '08                             ', '09                             ', '10                             ', '11                             ', '12                             ', '13                             ', '14                             ', '15                             ', '16                             ', '17                             ', '18                             ', '19                             ', '20                             ', '21                             ', '22                             ', '23                             ']

,測站,日期,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,--------------------,--------------------,--------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,...,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------
1,西屯,2019/01/01 00:00:00,AMB_TEMP,16.7,16.5,16.4,16.1,15.8,15.8,15.8,...,21.6,20,19.3,18.9,18.4,17.9,17.4,17.1,17.2,17.2

In [4]:
#clear column-index space
colList = dfXitun.columns.to_list()
for x in range(0, len(colList)):
    colList[x] = colList[x].rstrip()
#
print('New column list:', colList)
dfXitun.columns = colList
dfXitun.head(3)

New column list: ['測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

,測站,日期,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,--------------------,--------------------,--------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,...,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------,-------------------------------
1,西屯,2019/01/01 00:00:00,AMB_TEMP,16.7,16.5,16.4,16.1,15.8,15.8,15.8,...,21.6,20,19.3,18.9,18.4,17.9,17.4,17.1,17.2,17.2
2,西屯,2019/01/01 00:00:00,CH4,1.86,1.88,1.87,1.87,1.86,1.87,1.87,...,1.85,1.86,1.86,1.86,1.86,1.87,1.87,1.87,1.89,1.88

In [5]:
#drop row-index = 0
dfXitun.drop(index=0, inplace=True)
#reset row-id(index)
dfXitun.reset_index(inplace=True)
showDfInfo(dfXitun)

Data row count: 6570
Total columns:
 ['index', '測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

,index,測站,日期,測項,00,01,02,03,04,05,...,14,15,16,17,18,19,20,21,22,23
0,1,西屯,2019/01/01 00:00:00,AMB_TEMP,16.7,16.5,16.4,16.1,15.8,15.8,...,21.6,20,19.3,18.9,18.4,17.9,17.4,17.1,17.2,17.2
1,2,西屯,2019/01/01 00:00:00,CH4,1.86,1.88,1.87,1.87,1.86,1.87,...,1.85,1.86,1.86,1.86,1.86,1.87,1.87,1.87,1.89,1.88

In [6]:
#dropping the column: 'index'
dfXitun.drop(columns=['index'], inplace=True)
dfXitun.head(1)

,測站,日期,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,西屯,2019/01/01 00:00:00,AMB_TEMP,16.7,16.5,16.4,16.1,15.8,15.8,15.8,...,21.6,20,19.3,18.9,18.4,17.9,17.4,17.1,17.2,17.2

<font color='red'>以檢核其他欄位是否包含空白</font>

In [7]:
modColList = []
for x in dfXitun.columns.to_list():
    #Using first row to test.
    if len(dfXitun.loc[0, x]) > len(dfXitun.loc[0, x].rstrip()):
        modColList.append(x)
#
print('Must trim columns:', modColList)

Must trim columns: ['測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

In [8]:
trimColList = []
for x in dfXitun.columns.to_list():
    #Using first row to test.
    if len(dfXitun.loc[0, x]) > len(dfXitun.loc[0, x].rstrip()):
        dfXitun[x] = dfXitun[x].str.rstrip()
        trimColList.append(x)
#
print('Finish trim columns:', trimColList)

Finish trim columns: ['測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

In [9]:
modColList = []
for x in dfXitun.columns.to_list():
    #Using first row to test.
    if len(dfXitun.loc[0, x]) > len(dfXitun.loc[0, x].rstrip()):
        modColList.append(x)
#
print('Must trim columns:', modColList)

Must trim columns: []

## <font color='blue'>01.查核資料集記錄天數</font>

In [10]:
dateList = dfXitun['日期'].unique()
print('Total date count:', len(dateList), ', first 5 date:', dateList[0:5])

Total date count: 365 , first 5 date: ['2019/01/01 00:00:00' '2019/01/02 00:00:00' '2019/01/03 00:00:00'
 '2019/01/04 00:00:00' '2019/01/05 00:00:00']

## <font color='blue'>02.查核資料集監測品項</font>

In [11]:
itemList = dfXitun['測項'].unique()
print('Total item count:', len(itemList), '\nAll items:', itemList)

Total item count: 18
All items: ['AMB_TEMP' 'CH4' 'CO' 'NMHC' 'NO' 'NO2' 'NOx' 'O3' 'PM10' 'PM2.5'
 'RAINFALL' 'RH' 'SO2' 'THC' 'WD_HR' 'WIND_DIREC' 'WIND_SPEED' 'WS_HR']

In [12]:
print(dfXitun.columns.to_list())

['測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

In [13]:
#檢測單一日期區間
dfDay001 = dfXitun[dfXitun['日期']==dateList[0]]
dfDay001

,測站,日期,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,西屯,2019/01/01 00:00:00,AMB_TEMP,16.7,16.5,16.4,16.1,15.8,15.8,15.8,...,21.6,20,19.3,18.9,18.4,17.9,17.4,17.1,17.2,17.2
1,西屯,2019/01/01 00:00:00,CH4,1.86,1.88,1.87,1.87,1.86,1.87,1.87,...,1.85,1.86,1.86,1.86,1.86,1.87,1.87,1.87,1.89,1.88
2,西屯,2019/01/01 00:00:00,CO,0.23,0.22,0.21,0.2,0.19,0.18,0.2,...,0.24,0.26,0.27,0.28,0.28,0.28,0.28,0.28,0.28,0.27
3,西屯,2019/01/01 00:00:00,NMHC,0.06,0.05,0.05,0.05,0.05,0.05,0.05,...,0.05,0.05,0.07,0.08,0.07,0.07,0.07,0.07,0.06,0.07
4,西屯,2019/01/01 00:00:00,NO,0,0,0,0,0,0,0,...,0.7,0.7,0.3,0,0,0,0,0,0,0
5,西屯,2019/01/01 00:00:00,NO2,7.1,8.7,6.4,7.1,6.7,5.7,6.8,...,6.5,8.9,9,9.2,12.9,13.8,12.8,10.1,11.2,11
6,西屯,2019/01/01 00:00:00,NOx,7.1,8.4,6.3,6.8,6.4,5.4,6.7,...,7.2,9.6,9.4,9.2,12.6,13.6,12.5,9.7,11,10.7
7,西屯,2019/01/01 00:00:00,O3,26.3,26.1,27.9,27.6,29,28.4,27.7,...,40.6,38.2,35,32.9,27.3,25.7,26.9,27.4,26.3,27.1
8,西屯,2019/01/01 00:00:00,PM10,13,10,5,11,13,5,14,...,19,42,28,22,15,16,20,16,15,14
9,西屯,2019/01/01 00:00:00,PM2.5,1,1,8,8,7,2,3,...,3,7,8,13,13,15,9,8,3,3
10,西屯,2019/01/01 00:00:00,RAINFALL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,西屯,2019/01/01 00:00:00,RH,77,78,79,81,83,83,84,...,61,68,69,69,71,73,75,77,76,76
12,西屯,2019/01/01 00:00:00,SO2,0.5,0.5,0.5,1.3,1,0.5,1.1,...,0.5,1.2,1.2,0.5,1,1,1.1,1,1.1,1.2
13,西屯,2019/01/01 00:00:00,THC,1.92,1.93,1.92,1.92,1.91,1.92,1.92,...,1.9,1.91,1.93,1.94,1.93,1.94,1.94,1.94,1.95,1.95
14,西屯,2019/01/01 00:00:00,WD_HR,17,11,13,343,0,3,353,...,1,355,2,6,353,360,8,16,14,8
15,西屯,2019/01/01 00:00:00,WIND_DIREC,17,13,7,328,12,4,354,...,344,13,1,8,358,358,7,17,9,11
16,西屯,2019/01/01 00:00:00,WIND_SPEED,2.1,2.8,3,3,3.2,3.1,2.8,...,4.4,5,3.7,3.5,3.1,2.3,2.8,2.5,2.6,3
17,西屯,2019/01/01 00:00:00,WS_HR,2.1,2.2,2.7,1.6,2.1,2.4,1.5,...,3.8,4.8,4.1,3.5,3.5,2.7,2.7,2.9,2.5,2.6

## <font color='blue'>03.轉化欄位：年, 月, 日, 時, 測站, 18組監測項目</font>

In [14]:
#Columns to Dictionary for inserting new row
convDict = {'Year':None, 'Month':None, 'Date':None, 'Hour':None, 'Station':None, 
           'AMB_TEMP':None, 'CH4':None, 'CO':None, 'NMHC':None, 'NO':None, 'NO2':None, 
            'NOx':None, 'O3':None, 'PM10':None, 'PM2.5':None, 'RAINFALL':None, 'RH':None, 
            'SO2':None, 'THC':None, 'WD_HR':None, 'WIND_DIREC':None, 'WIND_SPEED':None, 
            'WS_HR':None}

In [15]:
dfData = None
for x in dateList:
    #防呆措施，避免上一個執行結果殘存
    if not convDict['Year'] is None:
        for k in convDict.keys():
            convDict[k] = None
    #transform monitor-items to columns
    dfTemp = dfXitun[dfXitun['日期']==x]
    convDict['Hour'] = dfTemp.columns.to_list()[3:27]
    for y in range(0, len(dfTemp)):
        keyValues = list(dfTemp.iloc[y, 2:27].values)
        convDict[keyValues[0]] = keyValues[1:len(keyValues)]
    #split '日期' to three columns(Year, Month, Date)
    dfConvert = pd.DataFrame(convDict)
    dfConvert['Year'] = x[0:4]
    dfConvert['Month'] = x[5:7]
    dfConvert['Date'] = x[8:10]
    #
    if dfData is None:
        dfData = dfConvert.copy() #初次執行，直接複製Dataframe
    else:
        dfData = dfData.append(dfConvert, ignore_index=True) #已有現存Dataframe，將本次迴圈結果併入
#Show total results
showDfInfo(dfData)

Data row count: 8760
Total columns:
 ['Year', 'Month', 'Date', 'Hour', 'Station', 'AMB_TEMP', 'CH4', 'CO', 'NMHC', 'NO', 'NO2', 'NOx', 'O3', 'PM10', 'PM2.5', 'RAINFALL', 'RH', 'SO2', 'THC', 'WD_HR', 'WIND_DIREC', 'WIND_SPEED', 'WS_HR']

,Year,Month,Date,Hour,Station,AMB_TEMP,CH4,CO,NMHC,NO,...,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,2019,01,01,00,None,16.7,1.86,0.23,0.06,0,...,13,1,0,77,0.5,1.92,17,17,2.1,2.1
1,2019,01,01,01,None,16.5,1.88,0.22,0.05,0,...,10,1,0,78,0.5,1.93,11,13,2.8,2.2

In [16]:
#add monitor-station name
dfData['Station'] = 'Xitun'

## <font color='blue'>04.驗證與轉置無效值</font>

In [17]:
nonValides = {} #非有效值座標記錄
errFloats = {} #數值轉換失敗座標記錄
for x in dfData.index:
    for y in itemList:
        tempFloat = dfData.loc[x, y]
        if ('#' in tempFloat or '*' in tempFloat or 'x' in tempFloat or 'A' in tempFloat):
            dfData.loc[x, y] = np.nan
            if y in nonValides:
                nonValides[y].append(x)
            else:
                nonValides[y] = [x]
        else:
            try:
                dfData.loc[x, y] = float(tempFloat)
            except:
                if y in errFloats:
                    errFloats[y].append(x)
                else:
                    errFloats[y] = [x]

In [18]:
#檢測有記錄到無效值的監測項目
print(nonValides.keys())

dict_keys(['PM10', 'PM2.5', 'CO', 'NO', 'NO2', 'NOx', 'O3', 'SO2', 'CH4', 'NMHC', 'THC', 'RAINFALL', 'AMB_TEMP', 'RH', 'WD_HR', 'WIND_DIREC', 'WIND_SPEED', 'WS_HR'])

In [19]:
#檢測有無轉換數值失敗的監測項目
print(errFloats.keys())

dict_keys([])

In [20]:
#Checking missing-data distribution
dfData.isna().sum()

Year            0
Month           0
Date            0
Hour            0
Station         0
AMB_TEMP       77
CH4            92
CO             80
NMHC           91
NO            265
NO2           238
NOx           238
O3             73
PM10          177
PM2.5         158
RAINFALL       35
RH             76
SO2           346
THC            92
WD_HR           9
WIND_DIREC     10
WIND_SPEED     11
WS_HR          10
dtype: int64

<font color='red'>產生DataTime欄位方便後續AQI指標計算</font>

In [21]:
def convertDateTime(row):
    year = row['Year']; month = row['Month']; 
    date = row['Date']; hour = row['Hour']
    try:
        dateTime = dt.datetime.strptime((year+month+date+hour),  '%Y%m%d%H')
    except:
        dateTime = np.nan
    return dateTime

In [22]:
dfData['DateTime'] = dfData.apply(lambda row:convertDateTime(row), axis=1)
showDfInfo(dfData, 'DateTime')

Data row count: 8760 Case count: 8760
Total columns:
 ['Year', 'Month', 'Date', 'Hour', 'Station', 'AMB_TEMP', 'CH4', 'CO', 'NMHC', 'NO', 'NO2', 'NOx', 'O3', 'PM10', 'PM2.5', 'RAINFALL', 'RH', 'SO2', 'THC', 'WD_HR', 'WIND_DIREC', 'WIND_SPEED', 'WS_HR', 'DateTime']

,Year,Month,Date,Hour,Station,AMB_TEMP,CH4,CO,NMHC,NO,...,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,DateTime
0,2019,01,01,00,Xitun,16.7,1.86,0.23,0.06,0,...,1,0,77,0.5,1.92,17,17,2.1,2.1,2019-01-01 00:00:00
1,2019,01,01,01,Xitun,16.5,1.88,0.22,0.05,0,...,1,0,78,0.5,1.93,11,13,2.8,2.2,2019-01-01 01:00:00

## <font color='blue'>05.計算AQI指數各分子項數值</font>

<font color='red'>西屯觀測站 O3計量單位為PPD</font>
https://data.epa.gov.tw/dataset/aqx_p_220/resource/83fc7657-e754-44f1-adb2-77f025e6e40c

In [23]:
#O3, 8hr：取最近連續 8 小時移動平均值 
#CO：取最近連續 8 小時移動平均值
#(例如今日上午10 點發布的 O3的 8 小時濃度平均值，是取今日上午 2 點至上午 9 點監測數據的平均值。）
def getH08Index(dfSource, dtKey, indexName):
    """
    calculating O3 & CO, 8hr moving-average values
    """
    h8Value = None
    print('DateTime:', dtKey)
    dfTemp = dfSource[(dfSource['DateTime'] >= dtKey-dt.timedelta(hours=8)) & (dfSource['DateTime']< dtKey)]
    display(dfTemp[['DateTime', indexName]])
    if dfTemp[indexName].count()> 0:
        print('%s Sum:'%indexName, dfTemp[indexName].sum(), 
              '%s Count:'%indexName, dfTemp[indexName].count())
        h8Value = round(dfTemp[indexName].sum() / dfTemp[indexName].count(), 1)
    return h8Value

In [24]:
#Sampling data to test function's result
getH08Index(dfData, dfData.loc[24, 'DateTime'], 'CO')

DateTime: 2019-01-02 00:00:00

              DateTime    CO
16 2019-01-01 16:00:00  0.27
17 2019-01-01 17:00:00  0.28
18 2019-01-01 18:00:00  0.28
19 2019-01-01 19:00:00  0.28
20 2019-01-01 20:00:00  0.28
21 2019-01-01 21:00:00  0.28
22 2019-01-01 22:00:00  0.28
23 2019-01-01 23:00:00  0.27

CO Sum: 2.22 CO Count: 8

0.3

In [25]:
#PM2.5 & PM10：0.5 × 前 12 小時平均 + 0.5 × 前 4 小時平均 
#(前 4 小時 2 筆有效，前 12 小時 6 筆有效）
def getPMIndex(dfSource, dtKey, indexName):
    """
    calculating PM2.5 & PM10 values of AQI Index
    """
    pmValue = None; pmH04 = None; pmH12 = None
    print('DateTime:', dtKey)
    dfTemp = dfSource[(dfSource['DateTime'] >= dtKey-dt.timedelta(hours=12)) & (dfSource['DateTime']< dtKey)]
    display(dfTemp[['DateTime', indexName]])
    #12 hours before index had effective mornitoring-data at least 6
    if dfTemp[indexName].count()> 6:
        print('H12 Sum:', dfTemp[indexName].sum(), ' Count:', dfTemp[indexName].count())
        pmH12 = round(dfTemp[indexName].sum() / dfTemp[indexName].count(), 1)
    #4 hours before index had effective mornitoring-data at least 2
    dfTemp2 = dfTemp[dfTemp['DateTime'] >= dtKey-dt.timedelta(hours=4)]
    display(dfTemp2[['DateTime', indexName]])
    if dfTemp2[indexName].count() > 2:
        print('H04 Sum:', dfTemp2[indexName].sum(), ' Count:', dfTemp2[indexName].count())
        pmH04 = round(dfTemp2[indexName].sum() / dfTemp2[indexName].count(), 1)
    #have H12 and H04 moving-mean
    if not pmH04 is None and not pmH12 is None:
        pmValue = (pmH04+pmH12)/2
    return pmValue

In [26]:
#Sampling data to test function's result
getPMIndex(dfData, dfData.loc[24, 'DateTime'], 'PM10')

DateTime: 2019-01-02 00:00:00

              DateTime PM10
12 2019-01-01 12:00:00   29
13 2019-01-01 13:00:00   19
14 2019-01-01 14:00:00   19
15 2019-01-01 15:00:00   42
16 2019-01-01 16:00:00   28
17 2019-01-01 17:00:00   22
18 2019-01-01 18:00:00   15
19 2019-01-01 19:00:00   16
20 2019-01-01 20:00:00   20
21 2019-01-01 21:00:00   16
22 2019-01-01 22:00:00   15
23 2019-01-01 23:00:00   14

H12 Sum: 255.0  Count: 12

              DateTime PM10
20 2019-01-01 20:00:00   20
21 2019-01-01 21:00:00   16
22 2019-01-01 22:00:00   15
23 2019-01-01 23:00:00   14

H04 Sum: 65.0  Count: 4

18.7

In [27]:
#SO2, 24hr：取最近連續 24 小時濃度平均值 
#(例如今日上午 10 點發布的 SO2 的 24 小時濃度平均值，是取前 1 天上午 10 點至今日上午 9 點監測數據的平均值。）
def getH24Index(dfSource, dtKey):
    """
    calculating SO2, 24hr moving-average values
    """
    h24Value = None
    print('DateTime:', dtKey)
    dfTemp = dfSource[(dfSource['DateTime'] >= dtKey-dt.timedelta(hours=24)) & (dfSource['DateTime']< dtKey)]
    display(dfTemp[['DateTime', 'SO2']])
    if dfTemp['SO2'].count()> 0:
        print('%s Sum:'%'SO2', dfTemp['SO2'].sum(), 
              '%s Count:'%'SO2', dfTemp['SO2'].count())
        h24Value = round(dfTemp['SO2'].sum() / dfTemp['SO2'].count(), 1)
    return h24Value

In [28]:
#Sampling data to test function's result
getH24Index(dfData, dfData.loc[48, 'DateTime'])

DateTime: 2019-01-03 00:00:00

              DateTime  SO2
24 2019-01-02 00:00:00  2.2
25 2019-01-02 01:00:00    2
26 2019-01-02 02:00:00  1.9
27 2019-01-02 03:00:00  1.9
28 2019-01-02 04:00:00  1.8
29 2019-01-02 05:00:00  1.8
30 2019-01-02 06:00:00  2.1
31 2019-01-02 07:00:00  2.4
32 2019-01-02 08:00:00  2.3
33 2019-01-02 09:00:00  2.2
34 2019-01-02 10:00:00  2.1
35 2019-01-02 11:00:00    2
36 2019-01-02 12:00:00  2.3
37 2019-01-02 13:00:00  2.3
38 2019-01-02 14:00:00  2.5
39 2019-01-02 15:00:00  2.8
40 2019-01-02 16:00:00  2.4
41 2019-01-02 17:00:00  2.8
42 2019-01-02 18:00:00  2.8
43 2019-01-02 19:00:00  2.6
44 2019-01-02 20:00:00  2.9
45 2019-01-02 21:00:00  2.6
46 2019-01-02 22:00:00  2.8
47 2019-01-02 23:00:00  2.9

SO2 Sum: 56.39999999999999 SO2 Count: 24

2.3

O3, 8hr：取最近連續 8 小時移動平均值 
---
CO：取最近連續 8 小時移動平均值
---
(例如今日上午10 點發布的 O3的 8 小時濃度平均值，是取今日上午 2 點至上午 9 點監測數據的平均值。）

PM2.5 & PM10：0.5 × 前 12 小時平均 + 0.5 × 前 4 小時平均 
---
(前 4 小時 2 筆有效，前 12 小時 6 筆有效）
SO2, 24hr：取最近連續 24 小時濃度平均值 
---
(例如今日上午 10 點發布的 SO2 的 24 小時濃度平均值，是取前 1 天上午 10 點至今日上午 9 點監測數據的平均值。）
##### <font color='red'>即時AQI指標值 https://airtw.epa.gov.tw/CHT/Information/Standard/AirQualityIndicator.aspx</font>

In [29]:
#將各項移動平均值計算函式合併成單一處理函式
def getSubIndex(dfSource, dtKey, indName):
    minHourDict = {'O3':8, 'CO':8, 'PM2.5':12, 'PM10':12, 'SO2':24}
    indValue = None
    dfTemp = dfSource[(dfSource['DateTime'] >= dtKey-dt.timedelta(hours=minHourDict[indName])) 
                        & (dfSource['DateTime']< dtKey)]
    #display(dfTemp[['DateTime', indName]])
    if indName in ['PM2.5', 'PM10']:
        h04Value = None; h12Value = None
        if dfTemp[indName].count() > 6:
            #print('%s H%s Sum:'%(indName, str(minHourDict[indName])), dfTemp[indName].sum(), 
            #      '%s H%s Count:'%(indName, str(minHourDict[indName])), dfTemp[indName].count())
            h12Value = dfTemp[indName].sum() / dfTemp[indName].count()
        #
        dfTemp2 = dfTemp[dfTemp['DateTime'] >= dtKey-dt.timedelta(hours=4)]
        #display(dfTemp2[['DateTime', indName]])
        if dfTemp2[indName].count() > 2:
            #print('%s H04 Sum:'%indName, dfTemp[indName].sum(), 
            #      '%s H04 Count:'%indName, dfTemp[indName].count())
            h04Value = dfTemp2[indName].sum() / dfTemp2[indName].count()
        #
        if not h04Value is None and not h12Value is None:
            indValue = (h04Value+h12Value) / 2
    else:
        #print('%s Sum:'%indName, dfTemp[indName].sum(), 
        #      '%s Count:'%indName, dfTemp[indName].count())
        indValue = dfTemp[indName].sum() / dfTemp[indName].count()
    #
    if not indValue is None:
        if indName in ['O3', 'PM10', 'SO2']: 
            indValue = round(indValue, 0)
        elif indName in ['PM2.5', 'CO']: 
            indValue = round(indValue, 1)
    #
    return indValue

In [30]:
#PM2.5 移動平均值有效位數為小數點以下第 1 位，會取到小數點以下第 2 位採四捨五入方式進位，
#O3 的 8 小時移動平均值及 PM10 移動平均值有效位數為整數位，會取到小數點以下第 1 位，採四捨五入方式進位。

In [31]:
#definded all-index range-value of thresholds
O3NowDict = {'0':0, '54':50, '70':100, '85':150, '105':200, '200':300}
O38hrDict = {'125':101, '164':150, '204':200, '404':300, '504':400, '604':500}
PM25Dict = {'0':0, '15.4':50, '35.4':100, '54.4':150, '150.4':200, '250.4':300, '350.4':400, '500.4':500}
PM10Dict = {'0':0, '54':50, '125':100, '254':150, '354':200, '424':300, '504':400, '604':500}
CODict = {'0':0, '4.4':50, '9.4':100, '12.4':150, '15.4':200, '30.4':300, '40.4':400, '50.4':500}
SO2NowDict = {'0':0, '35':50, '75':100, '185':150, '304':200, '604':300, '804':400, '1004':500}
NO2NowDict = {'0':0, '53':50, '100':100, '360':150, '649':200, '1249':300, '1649':400, '2049':500}
#
itemDict = {'O3Now':O3NowDict, 'O3':O38hrDict, 'PM2.5':PM25Dict, 'PM10':PM10Dict, 
           'CO':CODict, 'SO2Now':SO2NowDict, 'NO2Now':NO2NowDict}

<font color='green'>getRealAqi函式註解的print()區段為程式執行檢核點</font>

In [32]:
#Calculeting real-time AQI value for the specific datetime-key.
def getRealAqi(dtKey):
    aqiDict = {'O3Now':None, 'O3':None, 'PM2.5':None, 'PM10':None, 
               'CO':None, 'SO2Now':None, 'NO2Now':None}
    #print('Row-Key:', dtKey)
    for y in itemDict.keys():
        aqiDict[y] = None
        if 'Now' in y:
            itemValue = dfData[dfData['DateTime']==dtKey].loc[:, y.replace('Now', '')].iloc[0]
            #print(y, itemValue)
        else:
            itemValue = getSubIndex(dfData, dtKey, y)
            #print(y, itemValue)
        #
        #print('Type:', type(itemValue), ' Value:', itemValue)
        if not itemValue is None or pd.notna(itemValue)==True:
            tempDict = itemDict[y]
            tempList = list(tempDict.keys())
            #print(tempList, ' length:', len(tempList))
            for s in range(0, len(tempList)):
                #print(s, tempList[s])
                if itemValue<float(tempList[s]):
                    if s==0: 
                        break #觀測值低於指標最低閥值, Eq.O3即時濃度為125/ppd
                    else:
                        upIndex = tempList[s]; lowIndex = tempList[s-1]
                        perScore = (float(upIndex)-float(lowIndex)) / (tempDict[upIndex]-tempDict[lowIndex])
                        #print('item:', y, ' value:', itemValue, ' upIndex:', upIndex, ' lowIndex:', lowIndex)
                        #print('lowAqi:', tempDict[lowIndex], ' upAqi:', tempDict[upIndex], ' perAqi:', perScore)
                        aqiDict[y] = round((itemValue - float(lowIndex)) / perScore, 0) + tempDict[lowIndex]
                        break
                elif itemValue == float(tempList[s]):
                    aqiDict[y] = tempDict[tempList[s]]
                else:
                    continue
    #print(dtKey, aqiDict)
    return aqiDict

<font color='red'>各測項即時濃度依下列公式計算後，再對應下表得出 O3、PM2.5、PM10、CO、SO2、 NO2 等 6 個測項之即時副指標值，再取出其中最大值為即時空氣品質指標，該最大值測項即為指標污染物</font>

In [33]:
#逐時計算即時AQI值
for x in dfData.index:
    keyAqiDict = getRealAqi(dfData.loc[x, 'DateTime'])
    indAqi = None; indItem = None
    for y in keyAqiDict.keys():
        if not keyAqiDict[y] is None:
            if indAqi is None or indAqi < keyAqiDict[y]:
                indAqi = keyAqiDict[y]
                indItem = y
    #
    #print('RowId:', x, ' AQI Value:', indAqi, ' max AQI Item:', indItem)
    dfData.loc[x, 'AQI_Score'] = indAqi #最大即時AQI
    dfData.loc[x, 'AQI_Item'] = indItem #最大即時AQI的監測污染物
    if not indAqi is None: 
        if indAqi > 200: #即時AQI是否為紫色(AQI>=201)以上等級
            dfData.loc[x, 'Over_200'] = 'Y' 
        else:
            dfData.loc[x, 'Over_200'] = 'N'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in long_scalars

## <font color='blue'>06.檢視紫爆以上等級筆數</font>

In [34]:
#即時AQI值描述性統計
dfData['AQI_Score'].describe()

count    8760.000000
mean       60.096918
std        30.951938
min         3.000000
25%        37.000000
50%        52.000000
75%        77.000000
max       207.000000
Name: AQI_Score, dtype: float64

In [35]:
#最大AQI污染物筆數統計
Counter(dfData['AQI_Item'])

Counter({'O3Now': 1969, 'PM2.5': 6531, 'NO2Now': 64, 'PM10': 195, 'CO': 1})

<font color='green'>檢視紫爆資料分佈狀態</font>

In [36]:
dfData[dfData['Over_200']=='Y']

,Year,Month,Date,Hour,Station,AMB_TEMP,CH4,CO,NMHC,NO,...,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,DateTime,AQI_Score,AQI_Item,Over_200
3996,2019,06,16,12,Xitun,30.9,1.91,0.53,0.15,0.5,...,2.9,2.06,317,328,2.8,2.2,2019-06-16 12:00:00,204.0,O3Now,Y
3997,2019,06,16,13,Xitun,31.1,1.85,0.49,0.14,0.7,...,3.1,1.99,314,300,2.7,2.3,2019-06-16 13:00:00,204.0,O3Now,Y
4743,2019,07,17,15,Xitun,36.1,1.76,0.31,0.2,1.4,...,1.6,1.96,209,195,1.9,1.5,2019-07-17 15:00:00,205.0,O3Now,Y
4744,2019,07,17,16,Xitun,35.9,1.79,0.32,0.22,1.3,...,1.2,2.01,267,264,2,1.2,2019-07-17 16:00:00,207.0,O3Now,Y
4745,2019,07,17,17,Xitun,35.5,1.79,0.34,0.21,1.4,...,1.1,2,259,249,1.5,1.4,2019-07-17 17:00:00,202.0,O3Now,Y
5748,2019,08,28,12,Xitun,33.9,1.76,0.35,0.15,1.1,...,2.5,1.91,343,344,3,1.9,2019-08-28 12:00:00,203.0,O3Now,Y
6590,2019,10,02,14,Xitun,32.5,1.88,0.47,0.18,0.9,...,1.4,2.06,275,280,3.7,2.9,2019-10-02 14:00:00,201.0,O3Now,Y
7573,2019,11,12,13,Xitun,26.8,1.75,0.44,0.18,1.6,...,3.4,1.93,313,317,2.2,2.2,2019-11-12 13:00:00,203.0,O3Now,Y

In [37]:
dfData['Over_200'].describe()

count     8760
unique       2
top          N
freq      8752
Name: Over_200, dtype: object

In [38]:
Counter(dfData['Over_200'])

Counter({'N': 8752, 'Y': 8})

---
# End