In [1]:
import basicMod as bsm
import converData as cda
from collections import Counter
import datetime as dt
import numpy as np
import os
import pandas as pd

In [2]:
#get station csv file
staFiles = []
for x in os.listdir():
    if '.csv' in x: staFiles.append(x)
#
staFiles

['南投_2019.csv', '埔里_2019.csv', '竹山_2019.csv']

In [3]:
staSource = []
for x in staFiles:
    dfTemp = bsm.readStaData(x)
    bsm.cleanSignal(dfTemp)
    dfTemp.drop(index=0, inplace=True)
    dfTemp.reset_index(inplace=True, drop=True)
    #
    print('Now station file:', x)
    bsm.showDfInfo(dfTemp)
    print('*'*80)
    staSource.append(dfTemp)

Now station file: 南投_2019.csv
Data row count: 6480
Total columns:
 ['測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

,測站,日期,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,南投,2019/01/01 00:00:00,AMB_TEMP,16.4,15.9,15.6,15.4,15,14.8,14.4,...,23.7,23.1,21.4,20.3,19.7,19.4,18.9,18.5,18.1,17.9
1,南投,2019/01/01 00:00:00,CH4,1.91,1.93,1.95,1.96,1.96,1.92,2.01,...,1.82,1.83,1.83,1.84,1.85,1.85,1.84,1.86,1.86,1.88

********************************************************************************
Now station file: 埔里_2019.csv
Data row count: 5475
Total columns:
 ['測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

,測站,日期,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,埔里,2019/01/01 00:00:00,AMB_TEMP,14.9,14.6,14.2,13.9,13.5,13,12.9,...,23.5,23.4,22.4,21.2,20.2,19.5,18.8,18.5,18,17.7
1,埔里,2019/01/01 00:00:00,CO,0.68,0.58,0.63,0.45,0.52,0.52,0.55,...,0.27,0.31,0.39,0.52,0.61,0.71,0.56,0.54,0.49,0.4

********************************************************************************
Now station file: 竹山_2019.csv
Data row count: 5475
Total columns:
 ['測站', '日期', '測項', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']

,測站,日期,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,竹山,2019/01/01 00:00:00,AMB_TEMP,15.8,15.3,15.1,15,14.5,14.7,14.6,...,23.3,22.3,20.8,20.2,19.3,18.5,17.9,17.5,17.4,17.4
1,竹山,2019/01/01 00:00:00,CO,0.45,0.39,0.35,0.35,0.36,0.35,0.35,...,0.31,0.31,0.3,0.33,0.36,0.39,0.39,0.37,0.36,0.4

********************************************************************************

#clean right space for every-Datafram
for x in staSource:
    #clean columns
    bsm.cleanSignal(x)
    #clean cells
    colList = x.columns.to_list()
    bsm.cleanSignal(x, axis=1, columns=colList)

In [5]:
#Transfor item to columns and merge date and houre
staDatas=[]
for x in staSource:
    dfTemp = cda.transDatas(x, '測站', '日期', '測項')
    bsm.showDfInfo(dfTemp)
    print('*'*80)
    staDatas.append(dfTemp)

Data row count: 8640
Total columns:
 ['Station', 'Datatime', 'AMB_TEMP', 'CH4', 'CO', 'NMHC', 'NO', 'NO2', 'NOx', 'O3', 'PM10', 'PM2.5', 'RAINFALL', 'RH', 'SO2', 'THC', 'WD_HR', 'WIND_DIREC', 'WIND_SPEED', 'WS_HR']

,Station,Datatime,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,南投,2019-01-01 00:00:00,16.4,1.91,0.48,0.3,4.4,20.9,25.3,2.1,28,13,0,84,1.6,2.21,198,212,0.9,0.7
1,南投,2019-01-01 01:00:00,15.9,1.93,0.46,0.31,9.9,14.4,24.3,1.4,26,14,0,85,1.4,2.24,8,37,0.5,0.4

********************************************************************************
Data row count: 8760
Total columns:
 ['Station', 'Datatime', 'AMB_TEMP', 'CO', 'NO', 'NO2', 'NOx', 'O3', 'PM10', 'PM2.5', 'RAINFALL', 'RH', 'SO2', 'WD_HR', 'WIND_DIREC', 'WIND_SPEED', 'WS_HR']

,Station,Datatime,AMB_TEMP,CO,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,埔里,2019-01-01 00:00:00,14.9,0.68,10.3,18.5,28.8,2.7,63,28,0,84,2.7,251,210,0.6,0.3
1,埔里,2019-01-01 01:00:00,14.6,0.58,7.8,13.4,21.2,3.6,49,28,0,84,1.5,232,316,0.4,0.2

********************************************************************************
Data row count: 8760
Total columns:
 ['Station', 'Datatime', 'AMB_TEMP', 'CO', 'NO', 'NO2', 'NOx', 'O3', 'PM10', 'PM2.5', 'RAINFALL', 'RH', 'SO2', 'WD_HR', 'WIND_DIREC', 'WIND_SPEED', 'WS_HR']

,Station,Datatime,AMB_TEMP,CO,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,竹山,2019-01-01 00:00:00,15.8,0.45,4.7,20,24.7,2.3,43,24,0,88,2.4,130,106,0.6,0.4
1,竹山,2019-01-01 01:00:00,15.3,0.39,5.9,16.6,22.5,1.6,37,25,0,90,2.2,225,124,1.2,0.2

********************************************************************************

In [6]:
#clean nonVailed
itemList = ['AMB_TEMP' 'CH4' 'CO' 'NMHC' 'NO' 'NO2' 'NOx' 'O3' 'PM10' 'PM2.5'
 'RAINFALL' 'RH' 'SO2' 'THC' 'WD_HR' 'WIND_DIREC' 'WIND_SPEED' 'WS_HR']
for x in staDatas:
    cda.verifyValue(x, itemList)